body{
	font-family: Tahoma;
	font-size: 13px;
	width: 1000px;
	margin: 0px auto;
}

#menu_top{
	background: black;
	height: 40px;
}

#banner{
	width: 1000px;
	height:auto;
}

#main #left{
	width: 700px;
	float: left;
	min-height: 400px;	
}

#main #right{
	width: 300px;
	float: left;
	min-height: 400px;
}

#footer{
	background: #000;
	width: 1000px;
	text-align: center;
	height: 60px;
	color: white;
	clear: left;
	line-height: 60px;
}

#menu_top ul {
	margin: 0px;
	padding: 0px;
}

#menu_top ul li {
	list-style: none;
	float: left;
}

#menu_top ul li a {
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: white;
	padding: 0px 20px 0px 20px;
	border-right: 1px solid white;
}

#menu_top ul li a.active:hover {
	background: blue;
}

#banner img {
	width: 1000px;

}

#main #left ul {
	margin: 0px;
	padding: 0px;
}

#main #left ul li {
	list-style: none;
	clear: left;
	border-bottom: 2px solid #ccc;
	float: left;
	margin-bottom: 20px;
}

#main #left ul li img {
	width: 150px;
	height: 100px;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}

#main #left ul li h2 {
	font-size: 16px;
	margin-top: 0px;
}
#main #left ul li h2 a {
	text-decoration: none;
}

#main {
	margin-top: 10px;
}

#main #right .menu_right ul {
	margin: -15px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #ccc;
}

#main #right .menu_right ul li {
	list-style: none;
}

#main #right .menu_right ul li a{
	display: block;
	text-decoration: none;
	line-height: 45px;
	border-bottom: 1px solid #ccc;
	background: url(../imgaes/ok.png) no-repeat 2px;
	text-indent: 40px;
	color: #878787;
	height: 40px;
	font-size: 14px;
}

#main #right .menu_right ul li a:hover {
	color: orange;
}

#main #right .menu_right h3 {
	background: #194d58   url(../imgaes/menu2.png) no-repeat 3px;   
	height: 40px;
	margin-top: 0px;
	font-size: 14px;
	line-height: 40px;
	color: white;
	text-indent: 40px;
}

#main #right .menu_right img{
	width: 300px;
	height: 520px;
}

#footer ul li{
	list-style: none;
	float: left;
	
}